body {
    text-align: center;
    margin: 0 20vw;
    font-size: large;
}

img {
    width: 100%;
}

.type-ans {
    display: flex;
    font-size: medium;
    margin-top: 2vw;
}

input:focus-visible {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,1);
    font-size: large;
}

.type {
    width: 70%;
    margin-right: 1vw;
    padding: 1vw;
    border: 1px solid rgba(0,0,0,0.5);
    transition: 0.3s;
}

.submit {
    width: 30%;
    border: 0;
    padding: 1vw;
}

@media screen and (max-width:700px) {
    body {
        margin: 0 2vw;
    }
}